<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="Code Coverage">
        <Configuration>
          <CodeCoverage>
            <ModulePaths>
              <Include>
                <ModulePath>Api.dll</ModulePath>
			    <ModulePath>Application.dll</ModulePath>
				<ModulePath>CrossCutting.dll</ModulePath>
				<ModulePath>Domain.dll</ModulePath>
				<ModulePath>Persistence.dll</ModulePath>
              </Include>
            </ModulePaths>
          </CodeCoverage>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>